<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">
	
	
	
<servlet>
 	<servlet-name>registerUser</servlet-name>
 	<servlet-class>servlet.registerUser</servlet-class>
 
 </servlet>

<servlet-mapping>

	<servlet-name>registerUser</servlet-name>
	<url-pattern>/reguser</url-pattern>

</servlet-mapping>

<servlet>
 	<servlet-name>loginUser</servlet-name>
 	<servlet-class>servlet.loginUser</servlet-class>
 
 </servlet>

<servlet-mapping>

	<servlet-name>loginUser</servlet-name>
	<url-pattern>/loguser</url-pattern>

</servlet-mapping>

<servlet>
 	<servlet-name>allUsers</servlet-name>
 	<servlet-class>servlet.allUsers</servlet-class>
 
 </servlet>

<servlet-mapping>

	<servlet-name>allUsers</servlet-name>
	<url-pattern>/allusers</url-pattern>

</servlet-mapping>

<servlet>
 	<servlet-name>updateUsers</servlet-name>
 	<servlet-class>servlet.updateUsers</servlet-class>
 
 </servlet>

<servlet-mapping>

	<servlet-name>updateUsers</servlet-name>
	<url-pattern>/updateuser</url-pattern>

</servlet-mapping>

<servlet>
 	<servlet-name>editUser</servlet-name>
 	<servlet-class>servlet.editUser</servlet-class>
 
 </servlet>

<servlet-mapping>

	<servlet-name>editUser</servlet-name>
	<url-pattern>/edituser</url-pattern>

</servlet-mapping>
</web-app>